<h1>Contacts</h1>
<h2 class="contact_header">Here are your <span class="count"><%= @contacts.count %></span> contacts.</h2>

<ul class="complete_contact">
  <%@contacts.each do |contact| %>
    <li class="contact_name"><%=contact.first_name.capitalize%> <%=contact.last_name.capitalize%></li>
    <li><%=contact.email%></li>
    <li><%=contact.note%></li>
    <li class="tag"><a href="#">Edit</a> | <a href="#">Delete</a></li>
    <br>
  <%end%>
</ul>


<a href="/home">Home</a>
<a href="/about">About Me</a>
